
<html lang="en" dir="ltr">
  <head>
    <title>You created a task</title>
  </head>
  <body>
    <h1>You created a task!</h1>
    <p>{{ newtask.getDescription }} </p>
    <a href="/">VIew list of things</a>
  </body>
</html>
